body{
    background-color: #2D1400;
    max-width: 1920px;
}
.first{
    display: flex;
    position: relative;
}
#first_container{
    background-color: #E40000;
    width: 40vw;
    height: 20vw;
    position: relative;
}   
#date {
    width: 40vw; 
    height: 20vw;
    margin-top: 5vw ; 
    
    background: url("../img/date_second.svg") no-repeat;
    background-size: 205%;
    animation: playSprite 1.2s steps(2) infinite;
    position: relative;
    }
    @keyframes playSprite {
    0%{background-position: -40vw top ;}
    100% {background-position: 40vw top ; }
    }
#circle{
    position: relative;
    width: 60vw;
}
#circle_1_container{
    background-color: #E40000;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: circle 5s linear infinite;
    position: absolute;
}
@keyframes circle {
    0%{left: 0;top: 8vw;}
    20%{left: 25vw;top: 10vw;}
    40%{left: 50vw;top: 0vw;}
    60%{left: 45vw;top: 10vw;}
    80%{left: 25vw;top: 0vw;}
    100% {left: 0;top: 8vw;}
    }
#circle_2_container{
    background-color: #FF7A00;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: circle_2 5s linear infinite;
    position: absolute;
}
@keyframes circle_2 {
    0%{left: 25vw;top: 10vw;}
    20%{left: 0;top: 7vw;}
    40%{left: 25vw;top: 0vw;}
    60%{left: 50vw;top: 10vw;}
    80%{left: 45vw;top: 7vw;}
    100% {left: 25vw;top: 10vw;}
    }
#circle_3_container{
    background-color: #FFD600;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: circle_3 5s linear infinite;
    position: absolute;
}
@keyframes circle_3 {
    0%{left: 50vw;top: 0vw;}
    20%{left: 25;top: 3vw;}
    40%{left: 0vw;top: 0vw;}
    60%{left: 25vw;top: 3vw;}
    80%{left: 45vw;top: 1vw;}
    100% {left: 50vw;top: 0vw;}
    }
#string_1_container{
    background-color: #FFD600;
    width: 100%;
    height: 10vw;
    overflow-x: hidden;
    position: relative;   
}
.invite{
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    padding: 2.5vw;
}
.invite:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    from {transform: translateX(0%);}
    to {transform: translateX(-156.5%); }
   }
.second{
    display: flex;
    position: relative;
   }
#string_2_container{
    width: 10vw;
    height: 60vw;
    overflow-x: hidden;
    position: relative;   
}
.drops{
    margin-left: 1.5vw;
    width: 7vw;
    animation: scroll_drops 6s linear infinite;
}
@keyframes scroll_drops {
    from {transform: translateY(-50.1%);}
    to {transform: translateY(0%); }
   }
   #triangle_1_container {
    width: 0; 
    height: 0;
    border-left: 45vw solid #EA4701; 
    border-right: 0 solid #EA4701; 
    border-bottom: 20vw solid #FFB800; 
    animation: triangle_1 0.3s linear infinite;
  }
  @keyframes triangle_1 {
    0%{border-left: 45vw solid #EA4701;
        border-bottom: 20vw solid #FFB800;}
    100% {border-left: 45vw solid #FFB800;
        border-bottom: 20vw solid #EA4701;}
    }
#rectangle{
    width: 45vw;
    height: 20vw;
    display: flex;
    position: relative;
}
#rectangle_1_container{
    width: 7.5vw;
    height: 100%;
    background-color: #FFD600;
    animation: rectangle_1 7.2s linear infinite;
}
@keyframes rectangle_1 {
    0%{background-color: #FFD600;}
    20%{background-color: #FFB800;}
    40%{background-color: #FF9900;}
    60%{background-color: #FF7A00;}
    80%{background-color: #EA4701;}
    100%{background-color: #E40000;}
    }
#rectangle_2_container{
    width: 7.5vw;
    height: 100%;
    background-color: #FFB800;
}
#rectangle_3_container{
    width: 7.5vw;
    height: 100%;
    background-color: #FF9900;
}
#rectangle_4_container{
    width: 7.5vw;
    height: 100%;
    background-color: #FF7A00;
}
#rectangle_5_container{
    width: 7.5vw;
    height: 100%;
    background-color: #EA4701;
}
#rectangle_6_container{
    width: 7.5vw;
    height: 100%;
    background-color: #E40000;
}
.third{
    width: 90vw; 
    height: 40vw;     
    left: 10vw;
    position: relative; 
    overflow: hidden;  
    margin-top: -40vw;   
}
#pulse_1_container{
    width: 90vw;
    height: 90vw;
    background-color: #FFD600;
    border-radius: 50%;
    position: absolute;
    margin-top: -25vw;
    animation: pulse_1 5s linear infinite;
}
@keyframes pulse_1{
    0%{scale: 0.98;}
    50%{scale: 1.1;}
    100%{scale: 0.98;}
}
#pulse_2_container{
    width: 85vw;
    height: 85vw;
    background-color: #2D1400;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_2 5s linear infinite;
}
@keyframes pulse_2{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_3_container{
    width: 80vw;
    height: 80vw;
    background-color: #FFD600;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_3 5s linear infinite;
}
@keyframes pulse_3{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_4_container{
    width: 75vw;
    height: 75vw;
    background-color: #2D1400;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_4 5s linear infinite;
}
@keyframes pulse_4{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_5_container{
    width: 70vw;
    height: 70vw;
    background-color: #FFB800;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_5 5s linear infinite;
}
@keyframes pulse_5{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_6_container{
    width: 65vw;
    height: 65vw;
    background-color: #2D1400;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_6 5s linear infinite;
}
@keyframes pulse_6{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_7_container{
    width: 59vw;
    height: 59vw;
    background-color: #FF9900;
    border-radius: 50%;
    margin: 3.1vw;
    position: absolute;
    animation: pulse_7 5s linear infinite;
}
@keyframes pulse_7{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_8_container{
    width: 54vw;
    height: 54vw;
    background-color: #2D1400;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_8 5s linear infinite;
}
@keyframes pulse_8{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_9_container{
    width: 49vw;
    height: 49vw;
    background-color: #FF7A00;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_9 5s linear infinite;
}
@keyframes pulse_9{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_10_container{
    width: 44vw;
    height: 44vw;
    background-color: #2D1400;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_10 5s linear infinite;
}
@keyframes pulse_10{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_11_container{
    width: 39vw;
    height: 39vw;
    background-color: #EA4701;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_1 5s linear infinite;
}
@keyframes pulse_1{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_12_container{
    width: 34vw;
    height: 34vw;
    background-color: #2D1400;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_1 5s linear infinite;
}
@keyframes pulse_1{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_13_container{
    width: 29vw;
    height: 29vw;
    background-color: #E40000;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_1 5s linear infinite;
}
@keyframes pulse_1{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
.fourth{
    width: 100vw; 
    height: 30vw;
    position: relative; 
    overflow: hidden;  
}
#stripes_1_container{
    width: 100vw;
    height: 5vw;
    background-color: #FFD600;
    animation: stripes_1 2s infinite alternate ease-in-out;
}
@keyframes stripes_1 {
    from { transform: scaleY(1);}
    to {transform: scaleY(0.5);}
  }
#stripes_2_container{
    width: 100vw;
    height: 5vw;
    background-color: #FFB800;
    animation: stripes_2 2s infinite alternate ease-in-out;
}
@keyframes stripes_2{
    from { transform: scaleY(1);}
    to {transform: scaleY(0.5);}
}
#stripes_3_container{
    width: 100vw;
    height: 5vw;
    background-color: #FF9900;
    animation: stripes_3 2s infinite alternate ease-in-out;
}
@keyframes stripes_3{
    from { transform: scaleY(1);}
    to {transform: scaleY(0.5);}
}
#stripes_4_container{
    width: 100vw;
    height: 5vw;
    background-color: #FF7A00;
    animation: stripes_4 2s infinite alternate ease-in-out;
}
@keyframes stripes_4{
    from { transform: scaleY(1);}
    to {transform: scaleY(0.5);}
}
#stripes_5_container{
    width: 100vw;
    height: 5vw;
    background-color: #EA4701;
    animation: stripes_5 2s infinite alternate ease-in-out;
}
@keyframes stripes_5{
    from { transform: scaleY(1);}
    to {transform: scaleY(0.5);}
}
#stripes_6_container{
    width: 100vw;
    height: 5vw;
    background-color: #E40000;
    animation: stripes_6 2s infinite alternate ease-in-out;
}
@keyframes stripes_6{
    from { transform: scaleY(1);}
    to {transform: scaleY(0.5);}
}