body{
    background-color: #2D1400;
}
.first{
    display: flex;
    position: relative;
}
#first_container{
    background-color: #E40000;
    width: 40vw;
    height: 20vw;
    position: relative;
}   
#date{
    width: 40vw; 
    height: 20vw;
    margin-top: 5vw ; 
    background: url("../img/date_second.svg") no-repeat;
    background-size: 205%;
    animation: playSprite 1.2s steps(2) infinite;
    position: relative;
    }
@keyframes playSprite {
    0%{background-position: -40vw top ;}
    100% {background-position: 40vw top ; }
}
#date:hover{
    animation-play-state: paused;
}
#circle{
    position: relative;
    width: 60vw;
}
#circle_1_container{
    background-color: #E40000;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: circle 5s linear infinite;
    position: absolute;
}
@keyframes circle {
    0%{left: 0;top: 8vw;}
    20%{left: 25vw;top: 10vw;}
    40%{left: 50vw;top: 0vw;}
    60%{left: 45vw;top: 10vw;}
    80%{left: 25vw;top: 0vw;}
    100% {left: 0;top: 8vw;}
}
#circle_1_container:hover{
    animation-play-state: paused;
}
#circle_2_container{
    background-color: #FF7A00;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: circle_2 5s linear infinite;
    position: absolute;
}
@keyframes circle_2 {
    0%{left: 25vw;top: 10vw;}
    20%{left: 0;top: 7vw;}
    40%{left: 25vw;top: 0vw;}
    60%{left: 50vw;top: 10vw;}
    80%{left: 45vw;top: 7vw;}
    100% {left: 25vw;top: 10vw;}
}
#circle_2_container:hover{
    animation-play-state: paused;
}
#circle_3_container{
    background-color: #FFD600;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: circle_3 5s linear infinite;
    position: absolute;
}
@keyframes circle_3 {
    0%{left: 50vw;top: 0vw;}
    20%{left: 20;top: 5vw;}
    40%{left: 0vw;top: 0vw;}
    60%{left: 20vw;top: 8vw;}
    80%{left: 45vw;top: 5vw;}
    100% {left: 50vw;top: 0vw;}
}
#circle_3_container:hover{
    animation-play-state: paused;
}
#circle_4_container{
    background-color: #EA4701;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: circle_4 5s linear infinite;
    position: absolute;
}
@keyframes circle_4 {
    0%{left: 0;top: 0vw;}
    20%{left: 10;top: 8vw;;}
    40%{left: 45vw;top: 10vw;}
    60%{left: 50vw;top: 0vw;}
    80%{left: 10vw;top: 0vw;}
    100% {left: 0vw;top: 0vw;}
}
#circle_4_container:hover{
    animation-play-state: paused;
}
#circle_5_container{
    background-color: #FFB800;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: circle_5 5s linear infinite;
    position: absolute;
}
@keyframes circle_5 {
    0%{left: 0vw;top: 5vw;}
    20%{left: 20vw;top: 10vw;}
    40%{left: 50vw;top: 5vw;}
    60%{left: 20vw;top: 0vw;}
    80%{left: 10vw;top: 10vw;}
    100% {left: 0vw;top: 5vw;}
}
#circle_5_container:hover{
    animation-play-state: paused;
}
#circle_6_container{
    background-color: #FF9900;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: circle_6 5s linear infinite;
    position: absolute;
}
@keyframes circle_6 {
    0%{left: 25vw;top: 1vw;}
    20%{left: 50vw;top: 0vw;}
    40%{left: 25vw;top: 3vw;}
    60%{left: 0vw;top: 0vw;}
    80%{left: 50vw;top: 3vw;}
    100% {left: 25vw;top: 1vw;}
}
#circle_6_container:hover{
    animation-play-state: paused;
}
#string_1_container{
    background-color: #FFD600;
    width: 100%;
    height: 10vw;
    overflow-x: hidden;
    position: relative;   
}
.invite{
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    padding: 2.5vw;
}
.invite:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    from {transform: translateX(0%);}
    to {transform: translateX(-156.5%); }
   }
.second{
    display: flex;
    position: relative;
   }
#string_2_container{
    width: 10vw;
    height: 60vw;
    overflow-x: hidden;
    position: relative;   
}
.drops{
    margin-left: 1.5vw;
    width: 7vw;
    animation: scroll_drops 6s linear infinite;
}
@keyframes scroll_drops {
    from {transform: translateY(-50.1%);}
    to {transform: translateY(0%); }
}
.drops:hover{
    animation-play-state: paused;
}
#triangle_1_container {
    width: 0; 
    height: 0;
    border-left: 45vw solid #EA4701; 
    border-right: 0 solid #EA4701; 
    border-bottom: 20vw solid #FFB800; 
    animation: triangle_1 0.3s linear infinite;
}
@keyframes triangle_1 {
    0%{border-left: 45vw solid #EA4701;
        border-bottom: 20vw solid #FFB800;}
    100% {border-left: 45vw solid #FFB800;
        border-bottom: 20vw solid #EA4701;}
}
#rectangle{
    width: 45vw;
    height: 20vw;
    display: flex;
    position: relative;
}
#rectangle_1_container{
    width: 7.5vw;
    height: 100%;
    background-color: #FFD600;
    animation: rectangle_1 3s linear infinite;
}
@keyframes rectangle_1 {
    0%{background-color: #FFD600;}
    20%{background-color: #FFB800;}
    40%{background-color: #FF9900;}
    60%{background-color: #FF7A00;}
    80%{background-color: #EA4701;}
    90%{background-color: #E40000;}
    100%{background-color: #FFD600;}
    }
#rectangle_2_container{
    width: 7.5vw;
    height: 100%;
    background-color: #FFB800;
    animation: rectangle_2 3s linear infinite;
}
@keyframes rectangle_2 {
    0%{background-color: #FFB800;}
    20%{background-color: #FF9900;}
    40%{background-color: #FF7A00;}
    60%{background-color: #EA4701;}
    80%{background-color: #E40000;}
    90%{background-color: #FFD600;}
    100%{background-color: #FFB800;}
    }
#rectangle_3_container{
    width: 7.5vw;
    height: 100%;
    background-color: #FF9900;
    animation: rectangle_3 3s linear infinite;
}
@keyframes rectangle_3 {
    0%{background-color: #FF9900;}
    20%{background-color: #FF7A00;}
    40%{background-color: #EA4701;}
    60%{background-color: #E40000;}
    80%{background-color: #FFD600;}
    90%{background-color: #FFB800;}
    100%{background-color: #FF9900;}
    }
#rectangle_4_container{
    width: 7.5vw;
    height: 100%;
    background-color: #FF7A00;
    animation: rectangle_4 3s linear infinite;
}
@keyframes rectangle_4 {
    0%{background-color: #FF7A00;}
    20%{background-color: #EA4701;}
    40%{background-color: #E40000;}
    60%{background-color: #FFD600;}
    80%{background-color: #FFB800;}
    90%{background-color: #FF9900;}
    100%{background-color: #FF7A00;}
    }
#rectangle_5_container{
    width: 7.5vw;
    height: 100%;
    background-color: #EA4701;
    animation: rectangle_5 3s linear infinite;
}
@keyframes rectangle_5 {
    0%{background-color: #EA4701;}
    20%{background-color: #E40000;}
    40%{background-color: #FFD600;}
    60%{background-color: #FFB800;}
    80%{background-color: #FF9900;}
    90%{background-color: #FF7A00;}
    100%{background-color: #EA4701;}
    }
#rectangle_6_container{
    width: 7.5vw;
    height: 100%;
    background-color: #E40000;
    animation: rectangle_6 3s linear infinite;
}
@keyframes rectangle_6 {
    0%{background-color: #E40000;}
    20%{background-color: #FFD600;}
    40%{background-color: #FFB800;}
    60%{background-color: #FF9900;}
    80%{background-color: #FF7A00;}
    90%{background-color: #EA4701;}
    100%{background-color: #E40000;}
    }
.third{
    width: 90vw; 
    height: 40vw;     
    left: 10vw;
    position: relative; 
    overflow: hidden;  
    margin-top: -40vw;   
}
#pulse_1_container{
    width: 90vw;
    height: 90vw;
    background-color: #FFD600;
    border-radius: 50%;
    position: absolute;
    margin-top: -25vw;
    animation: pulse_1 5s linear infinite;
}
@keyframes pulse_1{
    0%{scale: 0.98;}
    50%{scale: 1.1;}
    100%{scale: 0.98;}
}
#pulse_2_container{
    width: 85vw;
    height: 85vw;
    background-color: #2D1400;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_2 5s linear infinite;
}
@keyframes pulse_2{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_3_container{
    width: 80vw;
    height: 80vw;
    background-color: #FFD600;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_3 5s linear infinite;
}
@keyframes pulse_3{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_4_container{
    width: 75vw;
    height: 75vw;
    background-color: #2D1400;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_4 5s linear infinite;
}
@keyframes pulse_4{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_5_container{
    width: 70vw;
    height: 70vw;
    background-color: #FFB800;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_5 5s linear infinite;
}
@keyframes pulse_5{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_6_container{
    width: 65vw;
    height: 65vw;
    background-color: #2D1400;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_6 5s linear infinite;
}
@keyframes pulse_6{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_7_container{
    width: 59vw;
    height: 59vw;
    background-color: #FF9900;
    border-radius: 50%;
    margin: 3.1vw;
    position: absolute;
    animation: pulse_7 5s linear infinite;
}
@keyframes pulse_7{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_8_container{
    width: 54vw;
    height: 54vw;
    background-color: #2D1400;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_8 5s linear infinite;
}
@keyframes pulse_8{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_9_container{
    width: 49vw;
    height: 49vw;
    background-color: #FF7A00;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_9 5s linear infinite;
}
@keyframes pulse_9{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_10_container{
    width: 44vw;
    height: 44vw;
    background-color: #2D1400;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_10 5s linear infinite;
}
@keyframes pulse_10{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_11_container{
    width: 39vw;
    height: 39vw;
    background-color: #EA4701;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_1 5s linear infinite;
}
@keyframes pulse_1{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_12_container{
    width: 34vw;
    height: 34vw;
    background-color: #2D1400;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_1 5s linear infinite;
}
@keyframes pulse_1{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
#pulse_13_container{
    width: 29vw;
    height: 29vw;
    background-color: #E40000;
    border-radius: 50%;
    margin: 2.5vw;
    position: absolute;
    animation: pulse_1 5s linear infinite;
}
@keyframes pulse_1{
    0%{scale: 0.98;}
    50%{scale: 1;}
    100%{scale: 0.98;}
}
.fourth{
    width: 100vw; 
    height: 30vw;
    position: relative; 
    overflow: hidden;  
}
#stripes_1_container{
    width: 100vw;
    height: 5vw;
    background-color: #FFD600;
    transform-origin: top;
    animation: stripes_1 2s infinite alternate ease-in-out;
}
@keyframes stripes_1 {
    from { transform: scaleY(1);}
    to {transform: scaleY(0.7);}
}
.party_1_2{
    transform: scale(0.5,0.5);
    position: absolute;
    width: 170%;
    margin-top: 0.8vw;
    animation: party_1 10s linear infinite;
}
.party_1_2:hover{
    animation-play-state: paused;
}
@keyframes party_1 {
    from {transform: translateX(0%);}
    to {transform: translateX(-33.5%);}
}
#stripes_2_container{
    width: 100vw;
    height: 5vw;
    background-color: #FFB800;
    transform-origin: bottom;
    animation: stripes_2 2s infinite alternate ease-in-out;
}
@keyframes stripes_2{
    from { transform: scaleY(1);}
    to {transform: scaleY(1.3);}
}
.volcano_1_2{
    transform: scale(0.5,0.5);
    position: absolute;
    width: 150%;
    margin-top: 0.8vw;
    animation: volcano_1 5s linear infinite;
}
.volcano_1_2:hover{
    animation-play-state: paused;
}
@keyframes volcano_1 {
    from {transform: translateX(-33.5%);}
    to {transform: translateX(0%); }
}
#stripes_3_container{
    width: 100vw;
    height: 5vw;
    background-color: #FF9900;
    transform-origin: top;
    animation: stripes_3 2s infinite alternate ease-in-out;
}

@keyframes stripes_3{
    from { transform: scaleY(1);}
    to {transform: scaleY(1.3);}
}
.awakening_1_1{
    transform: scale(0.5,0.5);
    position: absolute;
    width: 150%;
    margin-top: 0.8vw;
    animation: awakening_1 10s linear infinite;
}
.awakening_1_1:hover{
    animation-play-state: paused;
}
@keyframes awakening_1 {
    from {transform: translateX(0%);}
    to {transform: translateX(-40%);}
}
#stripes_4_container{
    width: 100vw;
    height: 5vw;
    background-color: #FF7A00;
    transform-origin: bottom;
    animation: stripes_4 2s infinite alternate ease-in-out;
}
@keyframes stripes_4{
    from { transform: scaleY(1);}
    to {transform: scaleY(0.7);}
}
.party_1_1{
    transform: scale(0.5,0.5);
    position: absolute;
    width: 170%;
    margin-top: 0.8vw;
    animation: party_2 5s linear infinite;
}
.party_1_1:hover{
    animation-play-state: paused;
}
@keyframes party_2 {
    from {transform: translateX(-33.5%);}
    to {transform: translateX(0%);}
}
#stripes_5_container{
    width: 100vw;
    height: 5vw;
    background-color: #EA4701;
    transform-origin: top;
    animation: stripes_5 2s infinite alternate ease-in-out;
}
@keyframes stripes_5{
    from { transform: scaleY(1);}
    to {transform: scaleY(0.7);}
}
.volcano_1_1{
    transform: scale(0.5,0.5);
    position: absolute;
    width: 150%;
    margin-top: 0.8vw;
    animation: volcano_2 10s linear infinite;
}
.volcano_1_1:hover{
    animation-play-state: paused;
}
@keyframes volcano_2 {
    from {transform: translateX(0%);}
    to {transform: translateX(-33.5%);}
}
#stripes_6_container{
    width: 100vw;
    height: 5vw;
    background-color: #E40000;
    transform-origin: bottom;
    animation: stripes_6 2s infinite alternate ease-in-out;
}
@keyframes stripes_6{
    from { transform: scaleY(1);}
    to {transform: scaleY(1.3);}
}
.awakening_1_2{
    transform: scale(0.5,0.5);
    position: absolute;
    width: 150%;
    margin-top: 0.8vw;
    animation: awakening_2 5s linear infinite;
}
.awakening_1_2:hover{
    animation-play-state: paused;
}
@keyframes awakening_2 {
    from {transform: translateX(-40%);}
    to {transform: translateX(0%);}
}
.fifth{
    width: 100vw; 
    height: 55vw;
    position: relative; 
    overflow: hidden;  
}
#word{
    display: flex;
    margin-top: 3vw;
    animation: stripes_6 2s infinite alternate ease-in-out;
}
#p{
    width: 100%;
    text-align: center;
}
#p{
    animation: p_1 2s infinite alternate ease-in-out;
}
@keyframes p_1{
    from { transform: scaleY(0.8);}
    to {transform: scaleY(0.5);}
}
.p_img{
    width: 50%;
}
#a{
    width: 100%;
    text-align: center;
}
#a{
    animation: a_1 2s infinite alternate ease-in-out;
}
@keyframes a_1{
    from { transform: scaleY(0.4);}
    to {transform: scaleY(0.7);}
}
.a_img{
    width: 50%;
}
#r{
    width: 100%;
    text-align: center;
}
#r{
    animation: r_1 2s infinite alternate ease-in-out;
}
.r_img{
    width: 50%;
}
@keyframes r_1{
    from { transform: scaleY(0.8);}
    to {transform: scaleY(0.5);}
}
#t{
    width: 100%;
    text-align: center;
}
#t{
    animation: t_1 2s infinite alternate ease-in-out;
}
@keyframes t_1{
    from { transform: scaleY(0.4);}
    to {transform: scaleY(0.7);}
}
.t_img{
    width: 50%;
}
#y{
    width: 100%;
    text-align: center;
}
#y{
    animation: y_1 2s infinite alternate ease-in-out;
}
@keyframes y_1{
    from { transform: scaleY(0.8);}
    to {transform: scaleY(0.5);}
}
.y_img{
    width: 50%;
}
#volcano{
    display: flex;
}
#volcano_f{
    width: 100%;
    position: relative;
}
.volcano_f_img{
    width: 100%;
    position: absolute ;
}
.lava{
    position: absolute;
    width: 5vw;
}
.red{
    animation: red_lava 2s linear infinite;
}
@keyframes red_lava {
    0%{top: 25vw;left: 30vw}
    50%{transform: rotate(30deg);}
    100%{top: 50vw;left: 20vw; transform: rotate(20deg);}
}
.nearly_yellow{
    animation: nearly_yellow_lava 4s linear infinite;
}
@keyframes nearly_yellow_lava {
    0%{top: 25vw;left: 40vw}
    50%{transform: rotate(30deg);}
    100%{top: 50vw;left: 30vw; transform: rotate(20deg);}
}
.yellow{
    animation: yellow_lava 2s linear infinite;
}
@keyframes yellow_lava {
    0%{top: 25vw;left: 60vw}
    50%{transform: rotate(-30deg);}
    100%{top: 50vw;left: 70vw; transform: rotate(-40deg);}
}
.nearly_red{
    animation: nearly_red_lava 4s linear infinite;
}
#footer{
    width: 100%;
    height: 10vw;
    background-color: #100700;
    display: flex;
    align-items: center;
}
#footer:hover{
    background-color: #E40000;
}
.logo_hse{
    width: 10vw;
    height: 5vw;
    margin-right: 2vw;
}
.name{
    margin-left: 2vw;
}