body{
    background-color: #2D1400;
    max-width: 1920px;
}
.first{
    display: flex;
    position: relative;
}
#first_container{
    background-color: #E40000;
    width: 40vw;
    height: 20vw;
    position: relative;
}   
#date {
    width: 40vw; 
    height: 20vw;
    margin-top: 5vw ; 
    
    background: url("../img/date_second.svg") no-repeat;
    background-size: 205%;
    animation: playSprite 1.2s steps(2) infinite;
    position: relative;
    }
    @keyframes playSprite {
    0%{background-position: -40vw top ;}
    100% {background-position: 40vw top ; }
    }
#circle{
    position: relative;
    width: 60vw;
}
#circle_1_container{
    background-color: #E40000;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: circle 5s linear infinite;
    position: absolute;
}
@keyframes circle {
    0%{left: 0;top: 8vw;}
    20%{left: 25vw;top: 10vw;}
    40%{left: 50vw;top: 0vw;}
    60%{left: 45vw;top: 10vw;}
    80%{left: 25vw;top: 0vw;}
    100% {left: 0;top: 8vw;}
    }
#circle_2_container{
    background-color: #FF7A00;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: circle_2 5s linear infinite;
    position: absolute;
}
@keyframes circle_2 {
    0%{left: 25vw;top: 10vw;}
    20%{left: 0;top: 7vw;}
    40%{left: 25vw;top: 0vw;}
    60%{left: 50vw;top: 10vw;}
    80%{left: 45vw;top: 7vw;}
    100% {left: 25vw;top: 10vw;}
    }
#circle_3_container{
    background-color: #FFD600;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    animation: circle_3 5s linear infinite;
    position: absolute;
}
@keyframes circle_3 {
    0%{left: 50vw;top: 0vw;}
    20%{left: 25;top: 3vw;}
    40%{left: 0vw;top: 0vw;}
    60%{left: 25vw;top: 3vw;}
    80%{left: 45vw;top: 1vw;}
    100% {left: 50vw;top: 0vw;}
    }
#string_1_container{
    background-color: #FFD600;
    width: 100%;
    height: 10vw;
    overflow-x: hidden;
    position: relative;   
}
.invite{
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    padding: 2.5vw;
}
.invite:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    from {transform: translateX(0%);}
    to {transform: translateX(-156.5%); }
   }
.second{
    display: flex;
    position: relative;
   }
#string_2_container{
    width: 10vw;
    height: 60vw;
    overflow-x: hidden;
    position: relative;   
}
.drops{
    margin-left: 1.5vw;
    width: 7vw;
    animation: scroll_drops 6s linear infinite;
}
@keyframes scroll_drops {
    from {transform: translateY(-50.1%);}
    to {transform: translateY(0%); }
   }
   #triangle_1_container {
    width: 0; 
    height: 0;
    border-left: 45vw solid transparent; 
    border-right: 0 solid transparent; 
    border-bottom: 20vw solid; 
    animation: triangle_1 2s steps(2) infinite;
  }
  @keyframes triangle_1 {
    0%{background-color: #FF7A00;}
    100% {background-color: #E40000;}
    }
  #triangle_2_container {
    width: 0; 
    height: 0;
    border-left: 0 solid transparent; 
    border-right: 45vw solid transparent; 
    border-bottom: 20vw solid; 
    transform: scaleY(-1);
    margin-top: -20vw;
    animation: triangle_2 1.2s steps(2) infinite;
  }
  @keyframes triangle_2 {
    0%{background-color: #E40000;}
    100% {background-color: #FF7A00;}
    }
#rectangle{
    width: 45vw;
    height: 20vw;
    display: flex;
    position: relative;
}
#rectangle_1_container{
    width: 7.5vw;
    height: 100%;
    background-color: #FFD600;
    animation: rectangle_1 7.2s linear infinite;
}
@keyframes rectangle_1 {
    0%{background-color: #FFD600;}
    20%{background-color: #FFB800;}
    40%{background-color: #FF9900;}
    60%{background-color: #FF7A00;}
    80%{background-color: #EA4701;}
    100%{background-color: #E40000;}
    }
#rectangle_2_container{
    width: 7.5vw;
    height: 100%;
    background-color: #FFB800;
}
#rectangle_3_container{
    width: 7.5vw;
    height: 100%;
    background-color: #FF9900;
}
#rectangle_4_container{
    width: 7.5vw;
    height: 100%;
    background-color: #FF7A00;
}
#rectangle_5_container{
    width: 7.5vw;
    height: 100%;
    background-color: #EA4701;
}
#rectangle_6_container{
    width: 7.5vw;
    height: 100%;
    background-color: #E40000;
}
#pulse{
    width: 90vw; 
    height: 40vw;    
    top: 20vw; 
    left: 10vw;
    position: absolute;      
}
#pulse_1_container{
    width: 90vw;
    height: 50vw;
    background-color: #FFD600;
    border-radius: 50%;
}