@font-face {
    font-family: "DrukTextWide-Medium-Trial";
    src: url(../Druk_Collection.web/DrukTextWideFamily/DrukTextWide-Medium-Trial.otf);
    font-weight: medium ;
    font-style: normal;
}
@font-face {
    font-family: "DrukTextWide-Bold-Trial";
    src: url(../Druk_Collection.web/DrukTextWideFamily/DrukTextWide-Bold-Trial.otf);
    font-weight: bold ;
    font-style: normal;
}
.date{
    font-family: "DrukTextWide-Medium-Trial"; 
    font-size: 15vw;
}
.invite{
    font-family: "DrukTextWide-Bold-Trial";
    font-size: 5vw;
}
.name{
    font-family: "DrukTextWide-Bold-Trial";
    font-size: 2vw;
}
.name_2{
    font-family: "DrukTextWide-Bold-Trial";
    font-size: 2vw;
}